- add_to_breadcrumbs _('Users'), admin_users_path
- breadcrumb_title @user.name
- page_title _("Identities"), @user.name, _("Users")
= render 'admin/users/head'

%table.table.gl-table
  %thead
    %tr
      %th{ class: 'gl-border-t-0!' }= _('Provider')
      %th{ class: 'gl-border-t-0!' }= s_('Identity|Provider ID')
      %th{ class: 'gl-border-t-0!' }= _('Group')
      %th{ class: 'gl-border-t-0!' }= _('Identifier')
      %th{ class: 'gl-border-t-0!' }= _('Actions')
  = render @identities
  - if @identities.blank?
    %tbody
      %tr
        %td{ colspan: '5' }
          .text-center.my-2
            = _('This user has no identities')
